<h2>You are Welcome to Sign Up My Dear One</h2>
<%= form_with model: @user, url: sign_up_path, local:true do |form| %>
	<%= render "shared/form_errors", form: form %>
	<div class = "mb-3">
		<%= form.label :email, local:true %>
		<%= form.text_field :email, class: "form-control", placeholder: "ifedan@gmail.com" %>
	</div>
	<div class = "mb-3">
		<%= form.label :password %>
		<%= form.password_field :password, class: "form-control", placeholder: "ifedan" %>
	</div>
	<div class = "mb-3">
		<%= form.label :password_confirmation %>
		<%= form.password_field :password_confirmation, class: "form-control", placeholder: "ifedan" %>
	</div>
	<div>
		<%= form.submit "Sign Up", class: "btn btn-primary", local:true, data: { turbo: false } %>
	</div>
<% end %>
